In [1]:
from line_solver import *
import numpy as np
GlobalConstants.set_verbose(VerboseLevel.STD)

In [2]:
model = Network('M[2]/M[2]/1-Exhaustive')
## Block 1: nodes
source = Source(model, 'mySource')
queue = Queue(model, 'myQueue', SchedStrategy.POLLING)
sink = Sink(model, 'mySink')

In [3]:
## Block 2: classes
oclass1 = OpenClass(model, 'myClass1')
source.set_arrival(oclass1, Exp(1.0))
queue.set_service(oclass1, Exp(4.0))

oclass2 = OpenClass(model, 'myClass2')
source.set_arrival(oclass2, Exp(0.8))
queue.set_service(oclass2, Exp(1.5))

queue.set_polling_type(PollingType.GATED)
queue.set_switchover(oclass1, Exp(1.0))
queue.set_switchover(oclass2, Exp(0.5))

In [4]:
## Block 3: topology
P = model.init_routing_matrix()
P.add_route(oclass1, source, queue, sink)
P.add_route(oclass2, source, queue, sink)
model.link(P)

WARNING: [link] The Network.link method cannot be used after calling the addLink() method. Use Node.setProbRouting instead to configure routing probabilities.

In [5]:
MVA(model).avg_table()  # solution is exact

    Station  JobClass     QLen  Util    RespT   ResidT  ArvR  Tput
0  mySource  myClass1   0.0000  0.00   0.0000   0.0000   0.0   1.0
1   myQueue  myClass1  11.2203  0.25  11.2203  11.2203   1.0   1.0

    Station  JobClass     QLen  Util    RespT   ResidT  ArvR  Tput
0  mySource  myClass1   0.0000  0.00   0.0000   0.0000   0.0   1.0
1   myQueue  myClass1  11.2203  0.25  11.2203  11.2203   1.0   1.0

In [6]:
# Note: JMT solver may have issues with polling models
# JMT(model, samples=1000000).avg_table()
print("JMT solver skipped - polling models may not be fully supported")

JMT Model: /tmp/workspace/jsim/12368266161158625677/jmodel.jsim
    Station  JobClass    QLen    Util   RespT  ResidT    ArvR    Tput
0  mySource  myClass1  0.0000  0.0000  0.0000  0.0000  0.0000  0.9993
1  mySource  myClass2  0.0000  0.0000  0.0000  0.0000  0.0000  0.7995
2   myQueue  myClass1  2.1609  0.2500  2.1571  2.1571  0.9993  1.0002
3   myQueue  myClass2  2.0579  0.5326  2.5848  2.5848  0.7995  0.7994

    Station  JobClass    QLen    Util   RespT  ResidT    ArvR    Tput
0  mySource  myClass1  0.0000  0.0000  0.0000  0.0000  0.0000  0.9993
1  mySource  myClass2  0.0000  0.0000  0.0000  0.0000  0.0000  0.7995
2   myQueue  myClass1  2.1609  0.2500  2.1571  2.1571  0.9993  1.0002
3   myQueue  myClass2  2.0579  0.5326  2.5848  2.5848  0.7995  0.7994