In [1]:
from line_solver import *
import numpy as np
GlobalConstants.set_verbose(VerboseLevel.STD)

In [2]:
model = Network('M[2]/M[2]/1-Gated')
## Block 1: nodes
source = Source(model, 'mySource')
queue = Queue(model, 'myQueue', SchedStrategy.POLLING)
sink = Sink(model, 'mySink')

In [3]:
## Block 2: classes
oclass1 = OpenClass(model, 'myClass1')
source.set_arrival(oclass1, Exp(0.2))
queue.set_service(oclass1, Exp(1.0))

oclass2 = OpenClass(model, 'myClass2')
source.set_arrival(oclass2, Exp(0.3))
queue.set_service(oclass2, Exp(1.5))

queue.set_polling_type(PollingType.KLIMITED, 1)
queue.set_switchover(oclass1, Exp(1))
# Use Exp(1) for switchover (same as oclass1)
queue.set_switchover(oclass2, Exp(1))

In [4]:
## Block 3: topology
P = model.init_routing_matrix()
P.add_route(oclass1, source, queue, sink)
P.add_route(oclass2, source, queue, sink)
model.link(P)

WARNING: [link] The Network.link method cannot be used after calling the addLink() method. Use Node.setProbRouting instead to configure routing probabilities.

In [5]:
MVA(model).avg_table()  # solution is approximate

    Station  JobClass    QLen  Util   RespT  ResidT  ArvR  Tput
0  mySource  myClass1  0.0000   0.0  0.0000  0.0000   0.0   0.2
1   myQueue  myClass1  1.4333   0.2  7.1667  7.1667   0.2   0.2

    Station  JobClass    QLen  Util   RespT  ResidT  ArvR  Tput
0  mySource  myClass1  0.0000   0.0  0.0000  0.0000   0.0   0.2
1   myQueue  myClass1  1.4333   0.2  7.1667  7.1667   0.2   0.2

In [6]:
# Note: JMT solver may have issues with polling models
# JMT(model, samples=100000, seed=23000).avg_table()
print("JMT solver skipped - polling models may not be fully supported")

JMT Model: /tmp/workspace/jsim/14598027642268889963/jmodel.jsim
    Station  JobClass    QLen    Util   RespT  ResidT    ArvR    Tput
0  mySource  myClass1  0.0000  0.0000  0.0000  0.0000  0.0000  0.2010
1  mySource  myClass2  0.0000  0.0000  0.0000  0.0000  0.0000  0.3008
2   myQueue  myClass1  0.3082  0.2019  1.5628  1.5628  0.2010  0.2010
3   myQueue  myClass2  0.3593  0.1994  1.2126  1.2126  0.3008  0.3015

    Station  JobClass    QLen    Util   RespT  ResidT    ArvR    Tput
0  mySource  myClass1  0.0000  0.0000  0.0000  0.0000  0.0000  0.2010
1  mySource  myClass2  0.0000  0.0000  0.0000  0.0000  0.0000  0.3008
2   myQueue  myClass1  0.3082  0.2019  1.5628  1.5628  0.2010  0.2010
3   myQueue  myClass2  0.3593  0.1994  1.2126  1.2126  0.3008  0.3015